# flyctl launch added from .gitignore
**/result

# flyctl launch added from .ruff_cache/.gitignore
# Automatically created by ruff.
.ruff_cache/**/*

# flyctl launch added from .venv/.gitignore
# created by virtualenv automatically
.venv/**/*

# flyctl launch added from app/recipes/api/.ruff_cache/.gitignore
# Automatically created by ruff.
app/recipes/api/.ruff_cache/**/*
fly.toml
